*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color:#1e1f26;
    text-align: center;  
    margin: 0;
    line-height: 1.5;
}

a { 
    text-decoration: none;
    color: inherit;
}


/* ------------------------------------------------------------------------------------------------------------ */


header{
    display: flex;
    background-color:#3D3B8E;
    min-height: 80px;
    max-height: 280px;
    align-content: center;
    justify-content: center; 

}
    
header.title {
    text-align: center;
    margin-bottom: 180px;
    overflow: auto; 
    
}

 header div.container {
    display: flex;
    max-width: 1500px;
    color: #06D6A0;
    padding: 14px; 
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 1500px;
}



header h1 {
    color: #06D6A0;
    font-size: 36pt;
    padding: 10px;
}

#score-board {
   padding: 20px 30px;
   color: #EF476F;
   font-size: 24pt;
   border-radius: 50px;
   padding: 10px;
}

#score-board:hover {
    transition-duration: 500ms;
    background-color:#1e1f26;
    color: #06D6A0;
    border: 5px solid #B191FF;
    
}

@media screen and (max-width: 926px) {
   
    header div h1 {
        padding: 5px;
        font-size: 30pt ;
    }

    header.title {
        margin-bottom: 100px;
    }

    header div.container{
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 5px;
    } 
    #score-board {
        padding: 5px;
        font-size: 24pt;
    }
}
/* ------------------------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------------------------ */

/* Main body styling */



section{
    display: flex;
    align-items: center;
    flex-direction: column;

}

section .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    
}

@media screen and (max-width: 768px) {
    section#intro{
        margin: 0;
    }
}

/* ------------------------------------------------------------------------------------------------------------ */
/* test with intro gone */
section.intro{
    
    /* display: none; */
}
/* ------------------------------------------------------------------------------------------------------------ */

#game-header h2  {
    font-size: 28pt;
    padding: 10px;
    width: 50%;
    min-width: 250px;
    color: #06D6A0;
    background-color: #1e1f26;
    border: 5px solid #B191FF;
    border-radius: 200px ;
}



#game-rules {
    width: 50%;
    min-width: 350px;
    border: 5px dotted #B191FF;
    border-radius: 25px;
    color: lightgray;
    padding: 15px;
    font-size: 16pt;
}

#bold-text {
    font-weight: bolder;
    color: #EF476F;
    text-decoration: underline;
    
}

/* Start button styling */

.start-button {
    font-size: 28pt;
    padding: 10px;
    font-weight: bold;
    min-width: 250px;
    color: #1e1f26;
    background-color: #EF476F;
    border: 5px solid #B191FF;
    border-radius: 200px ;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.start-button:hover {
    background-color: #06D6A0;
    padding: 30px;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Styles for quiz section */

section.quiz{
    font-size: 76pt;
    max-width: 1500px;
}

section.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1500px; 
}




/* ------------------------------------------------------------------------------------------------------------ */

/* styles for question cards */

.answers {
    list-style-type:num;
}   

.answers #key {
    display: none;
}