*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color:#1e1f26;
    text-align: center;  
    margin: 0;
    line-height: 1.5;
}

a { 
    text-decoration: none;
    color: inherit;
}


/* ------------------------------------------------------------------------------------------------------------ */


header{
    background-color:#3D3B8E;
    min-height: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}
    
header .title {
    margin: 0 auto;
    overflow: auto; 
    
    
}

header .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: #06D6A0;
    padding: 14px;
}

header div {
    max-width: 1500px;
    
}

header h1 {
    color: #06D6A0;
    font-size: 36pt;
    padding: 10px;
}

#score-board {
   padding: 20px 30px;
   color: #EF476F;
   font-size: 24pt;
   border-radius: 50px;
   padding: 10px;
}

@media screen and (max-width: 768px) {
    #score-board {
        padding: 20px 15px;

    }
}

#score-board:hover {
    transition-duration: 500ms;
    background-color:#1e1f26;
    color: #06D6A0;
    border: 5px solid #B191FF;
    
}



/* ------------------------------------------------------------------------------------------------------------ */

/* Main body styling */





section .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    
}


.intro:hover{
    
    display: none;
}

#game-header h2  {
    font-size: 28pt;
    padding: 10px;
    width: 50%;
    min-width: 250px;
    color: #06D6A0;
    background-color: #1e1f26;
    border: 5px solid #B191FF;
    border-radius: 200px ;
}



#game-rules {
    width: 50%;
    min-width: 250px;
    border: 5px dotted #B191FF;
    border-radius: 25px;
    color: lightgray;
    padding: 15px;
    font-size: 16pt;
}

#bold-text {
    font-weight: bolder;
    color: #EF476F;
    text-decoration: underline;
    
}

/* Start button styling */

.start-button {
    font-size: 28pt;
    padding: 10px;
    font-weight: bold;
    min-width: 250px;
    color: #1e1f26;
    background-color: #EF476F;
    border: 5px solid #B191FF;
    border-radius: 200px ;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.start-button:hover {
    background-color: #06D6A0;
    padding: 30px;
}

/* ------------------------------------------------------------------------------------------------------------ */


/* main section #intro {
    display: none;
} */